
body {
    background-color: rgb(248, 202, 48) ;
    font-family: sans-serif; 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .clock-container {
  
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    padding: 20px 20px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, .15), 0 15px 90px 30px rgba(0, 0, 0, .25);
    display: flex;
  
  }
  .clock-col {
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    min-width: 90px;  position: relative;
    font-size: 1rem;
    
  }
  
  .clock-timer {
    color:red;
    font-size: 4rem;
    text-transform: uppercase;
  }
  .clock-label {
    color: rgba(255, 255, 255, 0.35);
    text-transform: uppercase;
    font-size: 0.7rem;
  }
  @media (max-width: 730px) {
    .clock-container {
      flex-direction: column;
      padding-top: 40px;
      padding-bottom: 40px;
   }
    .clock-col + .clock-col {
      margin-top: 20px;
   }
    .clock-col:before, .clock-col:after {
      display: none !important;
   }
  }